body{
    margin: 0;
    background: radial-gradient(100vw 60vh at 50% -100px, rgba(124,127,255,0.12), transparent) no-repeat, rgb(9, 10, 12);
    background-position: top center;
    background-size: 100vw 60vh; /* controls the half-circle size */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main{
    width: 38vw;
    height: 30vh;
    background-color: oklab(0.200175 0.00000910461 0.00000399351 / 0.9);
    border-radius: 2vh;
    border-color: rgb(38, 38, 38);
    border-width: 2px;
    border-style: solid;
}
