:root{
    --main-bg: rgb(9, 10, 12);
    --main-bg-2: rgba(124, 126, 255, 0.233);

    --main-color: oklab(0.200175 0.00000910461 0.00000399351 / 0.9);

    --main-font-color: rgb(221, 221, 221);
    --secondary-font-color: rgb(158, 158, 158);

    --main-border-color: rgb(38, 38, 38);

    --font-medium: 2vh;
}

.main-bg--color{
    background-color: var(--main-color);
}

.main-border{
    border-radius: 2vh;
    background-color: var(--main-border-color);
    border-style: solid;
    border-width: 0.2vh;
}