body{
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji";
    color: var(--main-font-color);
    font-size: var(--font-medium);
    overflow: hidden;
    user-select: none;
}

.radial-background-1{
    background: radial-gradient(100vw 40vh at 50% -10vh, var(--main-bg-2), transparent) no-repeat, var(--main-bg);
    background-position: top center;
    background-size: 100vw 40vh;
}


/* ----------------------------- */
/* ----        Display      ---- */
/* ----------------------------- */
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.d-none{
    display: none;
}

/* ----------------------------- */
/* ----        Position     ---- */
/* ----------------------------- */
.p-absolute{
    position: absolute;
}
.p-fixed{
    position: fixed;
}

.top-0{
    top: 0;
}
.left-0{
    left: 0;
}


/* ----------------------------- */
/* ----        Width        ---- */
/* ----------------------------- */
.w-fit{
    width: fit-content !important;
}
.w-100{
    width: 100vw !important;
}
.w-30{
    width: 30vw !important;
}
.w-13{
    width: 13vw !important;
}

.w-100p{
    width: 100% !important;
}

.w-40p{
    width: 40% !important;
}

/* ----------------------------- */
/* ----        Height       ---- */
/* ----------------------------- */
.h-fit{
    height: fit-content !important;
}
.h-100{
    height: 100vh !important;
}
.h-06{
    height: .6vh !important;
}

.h-100p{
    height: 100% !important;
}

.h-7p{
    height: 7% !important;
}

/* ----------------------------- */
/* ----        Margin       ---- */
/* ----------------------------- */
.m-0{
    margin: 0 !important;
}
.m-a{
    margin: auto !important;
}

/* Right */
.m-r-08{
    margin-right: 0.8vw !important;
}
.m-r-1{
    margin-right: 1vw !important;
}
.m-r-2{
    margin-right: 2vh !important;
}

/* Left */
.m-l-a{
    margin-left: auto !important;
}
.m-l-08{
    margin-left: 0.8vw !important;
}

.m-l-1{
    margin-left: 1vw !important;
}


/* Bottom */
.m-b-2{
    margin-bottom: 2vh !important;
}
.m-b-1{
    margin-bottom: 1vh !important;
}

/* top */
.m-t-10p{
    margin-top: 10% !important;
}
.m-t-5p{
    margin-top: 5% !important;
}
.m-t-2{
    margin-top: 2vh !important;
}
.m-t-1{
    margin-top: 1vh !important;
}
.m-t-a{
    margin-top: auto !important;
}


/* ----------------------------- */
/* ----        Padding      ---- */
/* ----------------------------- */
.p-0{
    padding: 0 !important;
}

.p-06{
    padding: 0.6vh !important;
}

.p-1{
    padding: 1vh !important;
}

.p-2{
    padding: 2vh !important;
}

/* Left */

.p-l-1{
    padding: 1vh !important;
}

/* Bottom */

.p-b-1{
    padding: 1vh !important;
}


.p-lr-3{
    padding-left: 3vh !important;
    padding-right: 3vh !important;
}

/* ----------------------------- */
/* ----        Gap          ---- */
/* ----------------------------- */
.g-1{
    gap: 1vh !important;
}


/* ----------------------------- */
/* ----        Flex         ---- */
/* ----------------------------- */
.flex-row{
    flex-direction: row !important;
}

.flex-column{
    flex-direction: column !important;
}

.flex-1{
    flex: 1 !important;
}

.justify-center{
    justify-content: center !important;
}

.align-center{
    align-items: center !important;
}

/* ----------------------------- */
/* ----        Sizing       ---- */
/* ----------------------------- */
.size-borderbox{
    box-sizing: border-box !important; 
}

/* ----------------------------- */
/* ----        Border       ---- */
/* ----------------------------- */
.b-round{
    border-radius: 100vh !important;
}
.b-r-2{
    border-radius: 1vh !important;
}
.b-r-2{
    border-radius: 1vh !important;
}

.b-s-t{
    border-top-style:solid;
}
.b-s-b{
    border-bottom-style:solid;
}
.b-s-l{
    border-left-style:solid;
}
.b-s-r{
    border-right-style:solid;
}
.b-c-secondary{
    border-color: var(--secondary-border-color);
}
.b-w-01{
    border-width: 0.1vh;
}



/* TODO */
/* CREATE NAME FOR THIS */
.grid-2-2-2-2-a{
    grid-template-columns: 2fr 1.5fr 1fr 1fr 2fr;
}


/* ----------------------------- */
/* ----        Other        ---- */
/* ----------------------------- */
.selectable{
    user-select: text;
}





/* ----------------------------- */
/* ----        Index        ---- */
/* ----------------------------- */
.modal-index{
    z-index: 100;
}
.ctx-index{
    z-index: 100;
}
.tooltip-index{
    z-index: 100;
}

.z-index--1{
    z-index: -1;
}